@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.slider {
  width: 340px;
  margin: 0 10px;
  display: inline-block;
}

/* .rc-slider-track
  .rc-slider-handle 
  .rc-slider-handle {
  
  } */

.rc-slider-track {
  background: transparent;
}
.rc-slider-rail {
  height: 8px;
}
.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:hover,
.rc-slider-handle:focus {
  background: green;
  outline: none;
  box-shadow: none;
  border: 2px solid green;
  width: 13px;
  height: 13px;
  margin-left: -7px;
  margin-top: -3px;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 8vh;
}

.logo {
  margin-right: 15px;
  padding: 0 12px;
  font-size: 22px;
  background-color: #eceff1;
  font-family: "roboto", sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo a {
  color: black;
  text-decoration: none;
}
